<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <display-name>Require4Testing</display-name>
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>requirements.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
